<footer>
<mat-grid-list cols="4" rowHeight="48px">
  <mat-grid-tile colespan="1">
    <div>
      <mat-icon class="example-icon">format_list_bulleted</mat-icon>
      <p>Tabelle</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colespan="1">
      <div>
          <mat-icon class="example-icon">exposure_plus_2</mat-icon>
          <p>Ergebnisse</p>
        </div>
</mat-grid-tile>
<mat-grid-tile colespan="1">
    <div>
        <mat-icon class="example-icon">date_range</mat-icon>
        <p>Spielplan</p>
      </div>
</mat-grid-tile>
<mat-grid-tile colespan="1">
    <div>
        <mat-icon class="example-icon">show_chart</mat-icon>
        <p>Statistiken</p>
      </div>
</mat-grid-tile>
</mat-grid-list>
</footer>